@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    border: 0;
  }

  body {
    background-color: map-get($colors, "light") !important;
    color: map-get($colors, "primary");
    display: flex;
    flex-direction: column;
    font-family: $font-family-sans-serif;
    font-size: $base-font-size;
    margin: 0;
    height: 100vh;
    padding: 0;
  }
  // Por usar un ejemplo de where
  :where(h1, h2, h3, h4) {
    color: map-get($colors, "medium");
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: $font-titles;
    text-align: center;
  }
}

.site-content {
  flex: 1 0 auto; // Fondo abajo en index
}

a {
  border-radius: 4px;
  color: map-get($colors, "major");
}

a:hover {
  color: map-get($colors, "minor");
  text-decoration: none;
}

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  p::first-letter {
    -webkit-initial-letter: 1;
    initial-letter: 1;
    color: map-get($colors, "medium");
    font-weight: bold;
  }
}

.container {
  max-width: 968px;
  margin: 24px auto;
  // padding: 12px;

  @include respond-to("medium") {
    text-align: justify; // padding: 24px;
  }
}

/* Sistema de columnas */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $mqMedWidth) {
  /* Layout */
  .col-lg-2 {
    flex: 0 0 17%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.33%;
  }

  .col-lg-6 {
    flex: 0 0 46%;
  }

  .col-lg-8 {
    flex-basis: 75%;
    flex: 0 0 100%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    flex: 0 0 100%;
  }
}

@include respond-to("medium") {
  /* Layout */
  .col-md-2 {
    flex: 0 0 17%;
  }

  .col-md-3 {
    flex: 0 0 25%;
  }

  .col-md-4 {
    flex: 0 0 33.33%;
  }

  .col-md-6 {
    flex: 0 0 46%;
  }

  .col-md-8 {
    flex-basis: 75%;
    flex: 0 0 100%;
  }

  .col-md-12 {
    flex-basis: 100%;
    flex: 0 0 100%;
  }
}

@include respond-to("small") {
  .col-sm-3 {
    flex: 0 0 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.33%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    flex: 0 0 100%;
  }
}
