/* --- HEADER ----------*/

.header {
  background-color: rgba(map-get($colors, "dark"), 0.9);
  width: 100%;
}

.nav {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 968px;
  padding: 12px 24px;

  span:first-child {
    a {
      img {
        max-width: 200px;
      }
    }
  }

  span {
    ul {
      display: flex;
      list-style: none;

      li {
        margin: 0 10px;

        a {
          background-color: rgba(map-get($colors, "light"), 0.1);
          border-radius: 8px;
          color: map-get($colors, "light");
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: 2px;
          padding: 6px 8px;
          text-decoration: none;
          text-transform: uppercase;
        }

        a:hover {
          background-color: rgba(map-get($colors, "dark"), 0.9);
          color: map-get($colors, "major");
          cursor: pointer;
        }
      }
    }
  }
}

@include respond-to("medium") {
  .nav {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0;

    > span {
      display: block;
      width: 100%;
    }

    > span ul {
      flex-direction: column;
      margin-bottom: 0;
    }

    > span ul li {
      display: block;
      margin-bottom: 24px;
    }
  }
}
