<footer class="footer">
  <span>
    &copy;
    <img
      class="footer__span__logo"
      src="./assets/images/logo-white.png"
      alt="Lazy cooking"
    />
  </span>

  <span class="footer__links">
    <ul>
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a href="chefs.html">Chefs</a>
      </li>
      <li>
        <a href="article.html">articulo</a>
      </li>
      <li>
        <a href="cooking-competition.html">Competition</a>
      </li>
    </ul>
  </span>

  <span class="footer__social">
    <a href="about::blank"><i class="fa-brands fa-google"></i></a>
    <a href="about::blank"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="about::blank"><i class="fa-brands fa-twitter"></i></a>
  </span>
</footer>
